.reception {
    background-image: url("../assets/img/office-background/reception.png");
}

.office-1 {
    background-image: url("../assets/img/office-background/office-1.png");
}

.office-2 {
    background-image: url("../assets/img/office-background/office-2.png");
}

.office-3 {
    background-image: url("../assets/img/office-background/office-3-no-door.png");
}

.office-4 {
    background-image: url("../assets/img/office-background/office-4.png");
}

.office-5 {
    background-image: url("../assets/img/office-background/office-5.png");
}