.spells {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 300px;
  height: 300px;
  background: url(~/../assets/img/spells/background.png) no-repeat center;
  background-size: cover;
  grid-area: spells;
  align-self: center;
  display: none;
}

.spell {
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #f69029;
}

.spells li {
  cursor: pointer;
}

.attack {
  left: 115px;
  top: -5px;
  background: url(~/../assets/img/spells/attack.png) no-repeat center center;
  background-size: cover;
}

.shield {
  left: 230px;
  top: 80px;
  background: url(~/../assets/img/spells/shield.png) no-repeat center center;
  background-size: cover;
}

.heal {
  top: 80px;
  background: url(~/../assets/img/spells/heal2.png) no-repeat center center;
  background-size: cover;
}

.blitzAttack {
  left: 200px;
  top: 200px;
  background: url(~/../assets/img/spells/blitz.png) no-repeat center center;
  background-size: cover;
}

.super {
  left: 30px;
  top: 200px;
  background: url(~/../assets/img/spells/super.png) no-repeat center center;
  background-size: cover;
}

.spell_wrapper {
  display: none;
  position: absolute;
  font-size: 20px;
  width: 170px;
}

.spell__name {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #fa850f;
  padding-bottom: 10px;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.spell__description {
  text-align: center;
  display: block;
  color: black;
}

.spell:hover {
  border: 2px solid red;
  z-index: 2;
}

.attack:hover p {
  display: block;
  left: -50px;
  top: 110px;
}

.shield:hover p {
  display: block;
  left: -165px;
  top: 10px;
}

.heal:hover p {
  display: block;
  left: 65px;
  top: 40px;
}

.blitzAttack:hover p {
  display: block;
  top: -110px;
  left: -135px;
}

.super:hover p {
  display: block;
  left: 35px;
  top: -110px;
}

.blockSuper {
  box-shadow: inset 0px 0px 600px rgba(0, 0, 0, 1);
}

.spell:hover~.tips-background {
  display: block;
  z-index: 1;
}

.tips-background {
  position: absolute;
  width: 180px;
  height: 180px;
  background: #f4cca5;
  left: 60px;
  border-radius: 50%;
  top: 61px;
  border: 1px solid #f69029;
  box-shadow: inset 0px 0px 40px rgba(246, 148, 49, 1);
  display: none;
}