@import "../css/reset.css";
@import "../css/monsters/monsters-main.css";
@import "../css/heroes.css";
@import "../css/task-modal.css";
@import "../css/office-backgrounds.css";
body, html {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    background-color: #000;
    width: 100%;
    font-size: 10px;
}

.game-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    height: 100%;
    background-color: #030000;
    position: relative;
    display: grid;
    grid-template: ". . . . . ." ". hero . . monster ." ". . . . . .";
    align-items: end;
}

.game-background-mirror{
    grid-template: ". . . . . ." ". . . hero-mirror . ." ". . . . . .";
}
.door {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    position: absolute;
    height: 100%;
    top: 2.6%;
    transition: 1s transform linear;
    cursor: pointer;
}

.door-left {
    background-image: url("../assets/img/office-background/door-left.png");
    transform-origin: left;
    left: 4%;
    width: 6.35%;
}

.door-right {
    background-image: url("../assets/img/office-background/door-right.png");
    transform-origin: right;
    right: 3.8%;
    width: 6.59%;
}

.doorOpened {
    transform: rotateY(90deg);
    transition: .5s linear;
}