@import "../css/reset.css";
@import "../css/monsters/monsters-main.css";
@import "../css/heroes.css";
@import "../css/task-modal.css";
@import "../css/office-backgrounds.css";
@import "../css/results-modal.css";
@import "../css/spells.css";
@import "../css/side-nav.css";
@import "../css/volume-slider.css";
@import "../css/menu-modals.css";
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Gwent";
	font-size: 100%;
}

.wrapper {
	padding: 15px 50px;
	background: linear-gradient(133deg, #F2C14E, #F78154);
	width: 100%;
	min-height: 100vh;
}

.wrapper__reception {
	padding: 0;
	width: 100%;
}

.greeting__caption, .level__caption {
	background: linear-gradient(360deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 48px;
	width: 100%;
	text-align: center;
}

.level__caption {
	grid-area: level-caption;
	background: linear-gradient(180deg, #401167 33%, #580e96 66%, #7918cc);
	/*background: linear-gradient(180deg, #000000 33%, #4b4b4b 66%, #767676);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.greeting__text {
	font-size: 30px;
	width: 100%;
	text-align: center;
	margin: 20px 0;
	color: white;
}

.greeting__profile_caption, .greeting__profile_character-caption {
	font-size: 25px;
	width: 100%;
	text-align: center;
	margin: 15px 0;
	background: linear-gradient(360deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.greeting__profile_name {
	font-family: "Gwent";
	font-size: 25px;
	vertical-align: middle;
	display: block;
	border: 2px solid #0B2349;
	margin: 0 auto;
	border-radius: 5px;
	width: 206px;
	padding-left: 10px;
	color: #181c1f;
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.greeting__profile_name:focus {
	border: 2px solid #76fbed;
}

.greeting__profile_character-items {
	display: grid;
	max-width: 1000px;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-content: center;
	grid-column-gap: 20px;
	height: 324px;
	margin: 20px auto;
}

.greeting__profile_character-item-wrapper {
	border: 2px solid #0B2349;
	height: inherit;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.greeting__profile_character-item-wrapper:hover {
	box-shadow: 0 0 15px rgba(118, 251, 237, 1);
}

.greeting__profile_character-item {
	display: block;
	height: 100%;
	margin: 0 auto;
}

.greeting__profile_button {
	display: block;
	padding: 10px 0;
	width: 220px;
	font-family: 'Gwent';
	color: white;
	border: none;
	background: #0D61BC;
	font-size: 30px;
	border-radius: 5px;
	margin: 25px auto 0;
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	background: linear-gradient(180deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
}

.greeting__profile_button:hover {
	background: linear-gradient(180deg, #091b37 33%, #0B2349 66%, #0D61BC);
}

.selected {
	border: 2px solid #76fbed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.dialog {
	border: 5px double #9e12d8;
	/*width: calc(100% - 50px);*/
	width: 100%;
	max-height: 27%;
	position: absolute;
	right: -100%;
	bottom: 0px;
	background: white;
	transition: right .5s linear;
	padding: 20px;
	background: linear-gradient(180deg, #86fdf3 33%, #bdfffa 66%, #f2d2ff);
}

.dialog__message {
	font-size: 150%;
	color: #9e12d8;
}

.dialog-active {
	right: 0px;
}

.dialog__button {
	display: block;
	padding: 5px 0;
	width: 150px;
	font-family: 'Gwent';
	color: white;
	border: none;
	font-size: 25px;
	border-radius: 5px;
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	background: linear-gradient(180deg, #520971 33%, #9c5cb7 66%, #cc98e2);
	float: right;
}

.dialog__button:hover {
	background: linear-gradient(180deg, #3b164a 33%, #602479 66%, #9e4bc0);
}

.game-background {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	min-height: 100vh;
	background-color: #030000;
	position: relative;
	display: grid;
	grid-template: "level level level level level level" ". hero spells spells monster ." ". . . . . ."/auto auto 150px 150px auto auto;
	align-items: end;
}

nav {
	grid-area: level;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	height: 8vh;
	align-self: flex-start;
	display: grid;
	grid-template: "humburger-btn level-caption";
}

.humburger-btn-wrapper {
	display: inline-block;
	grid-area: humburger-btn;
	align-self: center;
	margin: 0px 1vh;
	width: 5vh;
	grid-column-end: inherit;
	cursor: pointer;
}

.humburger-btn-line {
	height: 0.6vh;
	background-color: #0D61BC;
	margin: 0.8vh 0;
	border-radius: 10vh;
}

.game-background-mirror {
	grid-template: ". . . . . ." ". . . . hero-mirror .";
}

.door {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	position: absolute;
	height: 100%;
	top: 2.6%;
	transition: 1s transform linear;
	cursor: pointer;
}

.door-left {
	background-image: url("../assets/img/office-background/doors/door-left.png");
	transform-origin: left;
	left: 4.2%;
	width: 6.35%;
}

.door-right {
	background-image: url("../assets/img/office-background/doors/door-right.png");
	transform-origin: right;
	right: 3.6%;
	width: 6.59%;
}

.door-right-reception {
	right: 3.8%;
}

.door-left-boss {
	left: 3.8%;
}

.doorOpened {
	transform: rotateY(90deg);
	transition: .5s linear;
}

.hero-health__wrapper, .monster-health__wrapper {
	position: relative;
	width: 200px;
	border: 2px solid blue;
	height: 20px;
	margin: -40px auto 0;
}

.hero-health-scale, .monster-health-scale {
	background: red;
	text-align: center;
	height: 100%;
	position: absolute;
	width: 100%;
	color: white;
}

.showSpells {
	display: block;
}

.btn {
	display: block;
	margin: 40px auto 20px;
}

.hero-shield, .monster-shield {
	position: absolute;
	margin-top: -20px;
	width: 100px;
	height: 18px;
	background-color: green;
	color: white;
	padding-top: 2px;
	padding: 3px 3px;
}

.hero-shield {
	left: -2px;
}

.monster-shield {
	right: -2px;
}

.answer {
	font-size: 50px;
	text-align: center;
	min-height: 100px;
	align-self: center;
}

.correct {
	background: linear-gradient(360deg, #09b91a 33%, #1dea31 66%, #48ff59);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.options-label {
	display: block;
	margin-bottom: 10px;
}

.super__full {
	box-shadow: 0 0 15px rgba(250, 230, 11, 1);
}

.wrong {
	background: linear-gradient(360deg, #be0d0d 33%, #e32121 66%, #fa4242);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-super {
	text-align: center;
	height: 60%;
	position: relative;
	width: calc(100% + 4px);
	margin-top: 18px;
	margin-left: -2px;
	color: white;
	border: 1px solid orange;
	border-top: none;
}

.hero-super_scale {
	background: yellow;
	position: absolute;
	height: 100%;
}

.options-label {
	display: block;
	margin-bottom: 10px;
}

.super__full {
	box-shadow: 0 0 15px rgba(250, 230, 11, 1);
}

.count-task, .celebrities-task {
	max-width: 600px;
	height: 270px;
	float: left;
	margin-right: 50px;
}

.hero-spell-vis, .monster-spell-vis {
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

.hero-spell-image, .monster-spell-image {
	position: absolute;
	left: 0;
	top: 0;
}

.math {
	width: 30px;
}

.word {
	width: 100px;
}

.options-wrapper {
	float: right;
}

@font-face {
	font-family: "Gwent";
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/gwent/GWENT-ExtraBold.eot");
	src: url("../fonts/gwent/GWENT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GWENT-ExtraBold.ttf") format("truetype");
}