<div class="game-background">
    <nav>
        <div class="humburger-btn-wrapper" id="humbergerBtn">
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
        </div>
    </nav>
    <div class="door door-left door-left-boss"></div>
    <div class="hero-container"></div>
    <div class='dialog' id='dialog'>
        <p class='dialog__message' id='message'></p>
        <button type="button" class="dialog__button" id='dialogButton'>Close</button>
    </div>