<div class="game-background game-background-mirror">
    <nav>
        <div class="humburger-btn-wrapper" id="humbergerBtn" tabindex="0">
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
        </div>
    </nav>
    <div class="door door-right door-right-reception" tabindex="0"></div>
    <div class="hero-container"></div>
</div>
<div class='dialog' id='dialog'>
    <p class='dialog__message' id='message'></p>
    <button type="button" class="dialog__button" id='dialogButton' tabindex="0">Start</button>
</div>