<div class="background-opacity-wrapper"> </div>
<div class="game-background">
    <nav>
        <div class="humburger-btn-wrapper" id="humbergerBtn" tabindex="0">
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
            <div class="humburger-btn-line"></div>
        </div>
    </nav>
    <ul class='spells'>
        <li class='spell attack' tabindex="0">
            <p class='spell_wrapper'>
                <span class='spell__name'>Attack</span>
                <span class='spell__description'>40 damage to monster</span>
        </li>
        <li class='spell shield' tabindex="0">
            <p class='spell_wrapper'>
                <span class='spell__name'>Shield</span>
                <span class='spell__description'>+50 to your defense (absorbs damage)</span>
        </li>
        <li class='spell heal' tabindex="0">
            <p class='spell_wrapper'>
                <span class='spell__name'>Heal</span>
                <span class='spell__description'>+30 to your health</span>
        </li>
        <li class='spell blitzAttack' tabindex="0">
            <p class='spell_wrapper'>
                <span class='spell__name'>Blitz Attack</span>
                <span class='spell__description'>3 tasks, each gives +20 to your attack power (max is 60)</span>
        </li>
        <li class='spell super blockSuper' tabindex="0">
            <p class='spell_wrapper'>
                <span class='spell__name'>Super Attack</span>
                <span class='spell__description'>60 damage to monster. Available when the yellow scale is full</span>
        </li>
        <li class='tips-background'></li>
    </ul>
    <div class="door door-left"></div>
    <div class="door door-right"></div>
    <div class='hero-container'>
        <div class="hero-health__wrapper">
            <div class='hero-shield'>
                <span>Shield:
                    <span class='hero-shield__number'></span>
                </span>
            </div>
            <div class='hero-health-scale'>
                <span class='hero-health-scale__number'></span>
            </div>
            <div class='hero-super'>
                <div class='hero-super_scale'>
                </div>
            </div>
        </div>
        <div class='hero-spell-vis'>
            <img class='hero-spell-image'>
        </div>
    </div>
    <div class="monster-container">
        <div class="monster-head-container">
            <div class="monster-health__wrapper">
                <div class='monster-shield'>
                    <span>Shield:
                        <span class='monster-shield__number'></span>
                    </span>
                </div>
                <div class='monster-health-scale'>
                    <span class='monster-health-scale__number'></span>
                </div>
            </div>
        </div>
        <div class="monster-body-container">
            <p class="monster-name"></p>
        </div>
        <div class="monster-legs-container">
            <div class='monster-spell-vis'>
                <img class='monster-spell-image'>
            </div>
        </div>
    </div>
    <div id="taskModal" class="modal">
        <div class="task-modal-content">
            <div class='task-task-content'>
                <p class='task-task-description' id='taskDesc'></p>
                <div class='task-task-text-wrapper'>
                    <p class='task-task-text' id='taskText'></p>
                </div>
            </div>
            <div class='task-field' id='taskField'>
                <div class='task-field-answer-container' id="taskFieldAnswer"></div>
                <div class='answer'>
                    <span id='answer__correct' class='correct'></span>
                    <span id='answer__wrong' class='wrong'></span>
                </div>
            </div>
        </div>
    </div>
    <div class='dialog' id=d ialog>
        <p class='dialog__message' id='message'></p>
        <button type="button" class="dialog__button" id='dialogButton' tabindex="1">Close</button>
    </div>
</div>